[Desktop Entry]
Version=2.21.0
Type=Application
Name=podboat
Comment=rss fead reader
Exec=podboat
Icon=newsboat
Terminal=true
StartupNotify=false
Categories=System;Network;Internet;
